html {
  background-color: #1c1c1c
}

.f1 {
  font-family: 'Trebuchet MS', sans-serif;
}

.f2 {
  font-family: 'Times New Roman', serif;
}

.sp1 {
  letter-spacing: 3px;
}

  a:link, a:visited {
  background-color: #000000;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #262626;
}

.round {border-radius: 12px;}